.mixin.out
assets
config
data
defaultconfigs
libraries
logs
moddata
modernfix
saves
schematics
screenshots
server-resource-packs
trees
versions
.qmenu_opened.marker

emi.json
launcher_profiles.json
servers.dat
servers.dat.bak
servers.dat_old
tlauncher_profiles.json
usercache.json
usernamecache.json